/* Cambria */
@font-face {
  font-family: 'Cambria';
  src: url('assets\fonts\cambria.ttc') format('truetype'),
       url('assets\fonts\cambriab.ttf') format('truetype'),
       url('assets\fonts\cambriai.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

/* Optional: Define additional font styles */
@font-face {
  font-family: 'Cambria';
  src: url('assets\fonts\cambriab.ttf') format('truetype');
  font-weight: bold;
}

@font-face {
  font-family: 'Cambria';
  src: url('assets\fonts\cambriai.ttf') format('truetype');
  font-style: italic;
}

.glass-morphism {
  background-color: transparent;
  backdrop-filter: blur(20px);
}

html,
body {
  scroll-behavior: smooth;
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  list-style: none;
}

html {
  font-size: 62.5%;
}

body {
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  text-align: center;
  background-attachment: fixed;
  font-family: "Merriweather", serif;
  background: #262626;
}
section {
  min-height: 100vh;
  padding: 0% 3% 0% 3%;
}

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3.5rem;
  background-color: black;
}

.home .home-content h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 1.3;
}

span {
  color: #b6fffa;
}

.home-content h3 {
  font-size: 4rem;
  margin-bottom: 1rem;
  font-weight: 700;
}

.home-content p {
  font-size: 1.75rem;
  font-family: "Esteban", sans-serif;
}

.home-img img {
  position: relative;
  width: 35vw;
  /* border-radius: 50%;
    box-shadow: 0 0 25px 25px white; */
  cursor: pointer;
  transition: 0.2s linear;
  padding: 0;
  padding-bottom: 75px;
  margin: 0;
}

.home-img img:hover {
  font-size: 1.8rem;
  font-weight: 500;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 4rem;
  height: 4rem;
  background-color: transparent;
  border: 0.2rem solid white;
  font-size: 2rem;
  border-radius: 50%;
  margin: 3rem 1.5rem 3rem 0;
  transition: 0.3s ease;
  color: #b6fffa;
}

.social-icons a:hover {
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: white;
  box-shadow: 0 0 25px #b6fffa;
}

.profile{
margin: 5px 10% 5px 10%;
}

.container1 > img {
  border-radius: 50%;
  margin-top: 25px;
  border: 15px ridge #d9d9d9;
  height: 250px;
  width: 250px;
}

.typing-text {
  font-size: 34px;
  font-weight: 600;
  min-width: 280px;
}

@media (max-width: 1000px) {
  .home {
    gap: 3.5rem;
  }
}

@media (max-width: 900px) {
  .home {
    flex-direction: column;
  }

  .home .home-content h3 {
    font-size: 2.5rem;
  }

  .home-content h1 {
    font-size: 5rem;
  }
  
  .home-img img {
    width: 55vw;
    margin-top: 4rem;
  }
}

hr {
  background-color: #0d0d0d;
  border-style: dotted none none none;
  border-color: #b6fffa;
  height: 0px;
  border-width: 5px;
  width: 5%;
  margin: 2rem auto 2rem auto;
}

h1 {
  margin: 0;
  text-align: center;
  font-size: 5.625rem;
  color: white;
  font-family: "Sacramento", cursive;
}
h2 {
  font-family: "Bree Serif", sans-serif;
  color: #b6fffa;
  font-size: 3.625rem;
  font-weight: normal;
  margin: 0;
}
h3 {
  font-family: "Cambria", sans-serif;
  font-size: 2rem;
  color: white;
}
p {
  font-size: 1.75rem;
  margin: 0;
  color: white;
  font-family: "Esteban", serif;
}

.text-content {
  /* position: absolute;
  top: 200px;
  left: 400px; */
  /* text-align: center; */
  position: relative;
  top: 200px;
}

.container1 {
  background: #0d0d0d;
  position: relative;
  width: 100%;
}

.top-cloud {
  position: absolute;
  right: 300px;
  top: 300px;
  height: 200px;
  width: 200px;
}

.mountain {
  position: absolute;
  top: 500px;
  left: 300px;
}

.bottom-cloud {
  position: absolute;
  left: 250px;
  top: 400px;
  height: 200px;
  width: 200px;
}
.profile-pic {
  margin: 20px auto 20px auto;
}

.skill-row {
  width: 50%;
  margin: 25px auto 25px auto;
  text-align: left;
  line-height: 2;
}

.web-dev {
  width: 25%;
  height: 25%;
  border-radius: 50%;
  float: left;
  margin-right: 30px;
}

.android {
  border-radius: 50%;
  width: 25%;
  float: right;
  margin-left: 25px;
}

.intro-text {
  margin: 2rem 5rem 2rem 5rem;
  font-size: 2rem;
  line-height: 2;
}

.contact-me {
  padding: 100px auto 50px auto;
}
.footer-text {
  margin: 30px auto 70px auto;
}
.footer-h3 {
  margin: 50px auto 50px auto;
}
.bottom-container {
  background: black;
  padding: 50px 0 20px;
  margin: auto;
}
a {
  color: #11999e;
  font-family: "Montserrat", sans-serif;
  margin: 10px 20px;
  text-decoration: none;
}

a:hover {
  color: #eaf6f6;
}

.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: Arial;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px 10px 20px;
  margin-bottom: 25px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}

.copyright {
  color: #b6fffa;
  margin: 50px auto 0 auto;
  font-size: 0.75 rem;
}
.text-token-text-primary {
  color: var(--text-primary);
}

.icon-md,
.icon-md-heavy {
  flex-shrink: 0;
  height: 18px;
  width: 18px;
}
.icon-md {
  stroke-width: 1.5;
}

/* ************************ Animations ************************** */
.autoRotate {
  animation: autoRotateAnimation;
  animation-timeline: view();
}
@keyframes autoRotateAnimation {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
.autoShow {
  animation: autoShowAnimation both;
  animation-timeline: view(70% 5%);
}
@keyframes autoShowAnimation {
  from {
    opacity: 0;
    transform: translateY(200px) scale(0.3);
  }
  to {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.autoBLur {
  animation: autoBLurAnimation linear both;
  animation-timeline: view();
}
@keyframes autoBLurAnimation {
  0% {
    filter: blur(40px);
  }
  45%,
  55% {
    filter: blur(0px);
  }
  100% {
    filter: blur(40px);
  }
}

  /* **************************************Not used********************************* */
  .btn {
    display: inline-block;
    padding: 1rem 2.8rem;
    background-color: black;
    border-radius: 5rem;
    font-size: 1.5rem;
    color: #b6fffa;
    letter-spacing: 0.3rem;
    font-weight: 600;
    border: 2px solid #b6fffa;
    transition: 0.3s ease;
    cursor: pointer;
  }
  
  .btn:hover {
    transform: scale3d(1.03);
    background-color: #b6fffa;
    color: black;
    box-shadow: 0 0 25px #b6fffa;
  }
  
  /* *********************************************************************** */

  /* ******************************On test********************************** */
  #DIV_1 {
    block-size: 494.737px;
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    bottom: 0px;
    box-sizing: border-box;
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    height: 494.737px;
    inline-size: 199.988px;
    inset-block-end: 0px;
    inset-block-start: 0px;
    inset-inline-end: 120.724px;
    inset-inline-start: -32px;
    left: -32px;
    max-inline-size: 200px;
    max-width: 200px;
    perspective-origin: 99.9878px 247.368px;
    position: absolute;
    right: 120.724px;
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    top: 0px;
    transform-origin: 99.9939px 247.368px;
    width: 199.988px;
    z-index: 2;
    background: rgba(0, 0, 0, 0) linear-gradient(to right, rgb(0, 0, 0) 14.58%, rgba(0, 0, 0, 0) 85.36%) repeat scroll 0% 0% / auto padding-box border-box;
    border: 0px none rgb(51, 51, 51);
    font: 16px / 23.04px Roboto, Verdana, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1*/

#DIV_1:after {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 16px / 23.04px Roboto, Verdana, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1:after*/

#DIV_1:before {
    border-block-end-color: rgb(51, 51, 51);
    border-block-start-color: rgb(51, 51, 51);
    border-inline-end-color: rgb(51, 51, 51);
    border-inline-start-color: rgb(51, 51, 51);
    caret-color: rgb(51, 51, 51);
    color: rgb(51, 51, 51);
    column-rule-color: rgb(51, 51, 51);
    text-decoration: none solid rgb(51, 51, 51);
    text-emphasis-color: rgb(51, 51, 51);
    text-size-adjust: 100%;
    border: 0px none rgb(51, 51, 51);
    font: 16px / 23.04px Roboto, Verdana, sans-serif;
    outline: rgb(51, 51, 51) none 0px;
}/*#DIV_1:before*/


  
  /* *********************************************************************** */